<% provide(:title, "Recipes") %>

<h2>Imaginary Recipes</h2>

<table>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.title, recipe_path(id:recipe.id) %></td>
  </tr>
  <tr>
    <td><%= recipe.description %></td>
  </tr>
<% end %>
</table>

<div class="links">
  <%= link_to "New Imaginary Recipe", new_recipe_path, class: "create" %>
</div>
