<% provide(:title, "Recipes") %>



<div class="table-responsive">
  <table class="table-condensed table-bordered">
    <thead>
      <td>Robot Recipe</td>
      <td>Servings</td>
      <td>Recipe Description</td>
    </thead>
    <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <%= link_to recipe.title, recipe_path(id:recipe.id) %>
      </td>
      <td>
        Feeds <%=recipe.servings %> robots.
      </td>
      <td>
        <%= recipe.description %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
