.header {
  padding: 3%;
  background-color: #ededed;
}

.tagline {
  margin-left: 60%;
  margin-top: 0;
}

h1 {
  text-align: center;
  color: #444;
  font-family: "Raleway";
}

h2 {
  color: #444;
  text-align: center;
  font-size: 90%;
  margin-top: -1em;
  margin-left: 12em;
}

.create {
  color: #444;
  font-size: 150%;
}

a {
  color: #444;
}

a:hover {
  color: #ffffff;
  background-color: maroon;
  text-decoration: none;
}

.links {
  text-align: center;
  margin-top: 10%;
}

.form-control {
  margin: 2% 0;
}

.submit {
  background-color: #444;
  color: #ffffff;
}

.submit:hover {
  background-color: maroon;
  color: white;
}
